@media(max-width: 768px){
    html{
        border: 2px solid red;
    }

}

/* Responsive Styles */
@media (max-width: 767.98px) {
    .space-y {
        padding: 50px 0px !important;
    }
    .h1logo, .h2logo {
        font-size: 28px; /* Adjust size for smaller screens */
    }

    .navbar-nav .nav-link {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .navbar-toggler {
        border-color: #1A406D; /* Adjust color for the menu button */
    }
}

@media (max-width: 575.98px) {
    .h1logo {
        font-size: 24px; /* Further adjust size for very small screens */
    }

    .h2logo {
        font-size: 18px; /* Further adjust size for very small screens */
    }
}